:root {
    --primary-color: #511f9d;
    --secondary-color: #308695;
    --tertiary-color: #dfae64;
    --fourth-color: #686c6d;
    --black: #000;
    --white: #fff;
    --font-family: 'Mukta'
    --h1-font: 30px;
    --h2-font: 24px;
    --h3-font: 18px;
}

body {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.button-class {
    background-color: var(--secondary-color);
    border: none;
    color: var(--white);
    padding: 16px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 8px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    /*background-color: white;*/
   /*color: black;*/
    border: 2px solid var(--secondary-color);
    border-radius: 45px;
}