:root {
    
    --primary-color: #8445e2;
    --secondary-color: #e49ac3;
    --highlight-color: #308695;
    --transition-color: #b298d8;
    --black: #000;
    --white: #fff;
    --font-family: 'Mukta'
    
}

body {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

.pokedex {
    color: var(--black);
    text-align: center;
    margin-top: 90px; 
    display: flex;
    flex-direction: column;
}

.pokemon-header {
    padding: 10px;
    font-weight: 700;
}

.pokemon-button {
    width: 25%;
    height: 50px;
    background-color: var(--primary-color);
    /* removes bootstrap button border color */
    border: none;
    border-radius: 20px;
}
  /* removes row border lines in background */
.list-group-item {
    border: none;
}

.pokemon-button:hover {
    background-color: var(--transition-color);
    transition-duration: 0s;
}

.btn-outline-info {
    color: var(--white);
    border-color: var(--white);
}

.btn-outline-info:hover {
    background-color: var(--transition-color);
    transition-duration: 0s;
    border-color: var(--transition-color);
}

.input-group-btn {
    background-color: none;
}

.modal {
    text-align: center;
}

.pokemon-img {
    width: 200px;
    height: 200px;
}

.modal-dialog {
    border: 8px solid;
    border-radius: 12px;
    border-color: var(--highlight-color);
}